* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: gray;
}

*::-moz-selection {
    background: gray;
}
 

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root{
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    cursor:default;
}
body{
    overflow-x: hidden;
}
.stopscrolling{
    overflow-y: hidden;
}

#navBar {
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: rgb(32, 32, 32);
    position: relative;
    padding: 40px;
    align-items: center;
  }
  .logo{
    color: white;
    font-weight: 600;
    font-size: 4rem;
  }

  a{
    text-decoration: none;
  }
  .hamburger{
      position: absolute;
      top: 0;
      right: 0;
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
  }
  #hamburger-button{
      font-size: 3rem;
      font-weight: 800;
      width: 4.5rem;
      height: 3.5rem;
      background-color: transparent;

      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
  }
  .burger-bar{
      width: 100%;
      height:5px;
      background-color: white;
      border-radius: 0px;
      transition-duration: .3s;
  }
  .hamburger-animation1{
      transform: rotate(45deg);
      transition-duration: .3s;
      transform-origin: left;
      background-color: wwhite
  }
  .hamburger-animation2{
      width: 0;
      background-color: white;
      
  }
  .hamburger-animation3{
      transform: rotateZ(-45deg);
      transform-origin: left;
      transition-duration: .3s;
      background-color: white;
  
  }
 .tabs_button{

  z-index: 999;
  height: 100%;
  width: fit-content;
  position: fixed;
  left: -100%;
  top: 0;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: rgb(32, 32, 32);
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 2rem;
  transition-duration: .4s;
  gap: 50px;
  padding: 0 40px;

 }

 .show{
  /* display: block; */
  /* transform: translateX(0px); */
  left: 0%;
  transition-duration: .4s;

 }

 .tabsbuttonclass{
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  color: white;


 }


.tabsbuttonclass a{
    color: white;
    text-decoration: none;
    transition-duration: .3s;
}
.tabsbuttonclass:hover a{
    color: rgb(125, 96, 255);
    letter-spacing: 2px;
    transition-duration: .3s;
}

.content{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.one,.two,.three{
    font-size: 6rem;
    font-weight: 900;
}
.two{
    color: white;
    -webkit-text-stroke: 2px #000000;
}
/* responsive code below*/
@media screen and (max-width:1920px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width:1300px) {
    html {
        font-size: 60%;
    }
    
}

@media screen and (max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 50%;
    }
  #navBar{
    padding: 10px;
  }
 
}

@media screen and (max-width:500px) {
    html {
        font-size: 45%;  
    }

    #hamburger{
        right: 10px;
    }
    .tabs_button{
        gap: 25px;
    }
   

}

@media screen and (max-width:430px) {
    html {
        font-size: 43%;
    }
}

@media screen and (max-width:375px) {
    html {
        font-size: 40%;
    }
}
@media screen and (max-width:300px) {
    html {
        font-size: 40%;
    }
}

/* responsive code above */

